*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    gap: 5px;
    padding: 20px;
}
button{
    outline: none;
    border: none;
}

.page{
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: transparent !important;
}

.page:hover,.active{
    border: 1px solid blue;
    background: palevioletred;

}






